html{
    font-size: 14px!important;
}
.router-link-exact-active, .router-link-exact-active span {
    color: red!important;
}
.page-loader-wrapper {
    position: absolute;
    opacity: 0.60;
    z-index: 9;
}
.dropdown-menu {
    min-width: 175px;
}
.position-relative {
    position: relative;
}
